%h1= <%= class_name %>.model_name.human.singularize

<% for attribute in attributes -%>
%dl.dl-horizontal
  %dt= <%= class_name %>.human_attribute_name :<%= attribute.name %>
  %dd= @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

- if can? :update, @<%= singular_table_name %>
  = link_to t('actions.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
  \|
= link_to t('actions.back'), <%= index_helper %>_path
